* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

.section-one {
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(/images/floods-in-bangladesh.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.title {
    color: white;
    text-align: center;
    padding: 245px;
}

.title h1 {
    font-size: 90px;
    margin-bottom: 20px;
}

p {
    font-size: 25px;
}

.donate-button {
    text-decoration: none;
    background-color: #019267;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-size: 25px;
    font-weight: 400;
}

.section-two {
    text-align: center;
    margin-bottom: 150px;
}

.donate-today h2 {
    font-size: 50px;
    margin-top: 120px;
    margin-bottom: 30px;
}

.donate-today p {
    font-size: 20px;
    color: #707070;
    margin-bottom: 30px;
}

.ammount {
    display: flex;
    margin-top: 40px;
    margin-left: 30%;
    margin-right: 30%;
}

.button {
    border: 0px solid black;
    border-radius: 5px;
    color: #707070;
    padding: 40px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    margin: 10px 12.5px;
}

#money {
    border: 2px solid #019267;
    color: #019267;
    background-color: #e8ffe2;
}

.other-amount {
    margin-top: 30px;
}

.other-amount p {
    font-size: 20px;
    color: #B3B3B3;
}

.other-amount hr {
    width: 50%;
    margin: auto;
    border: 0.5px solid #DADADA;
}